* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #27374d;
}

main#container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #526d82;
}

.inputan-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100px;
}

form {
  display: flex;
  gap: 20px;
}

button {
  width: 80px;
  height: 25px;
  cursor: pointer;
  font-size: 22px;
  background-color: #9db2bf;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

button:hover {
  background-color: #2d2d2d;
  color: #efefef;
  box-shadow: rgba(255, 255, 255, 0.85) 0px 5px 15px;
  transform: translateY(2px) translateX(0.5px);
}

.listKegiatan {
  background-color: #27374d;
  width: 150px;
  border: 1px solid;
  text-align: center;
  color: #f0f0fe;
  font-family: "Poppins", sans-serif;
}

.waktuKegiatan {
  background-color: #27374d;
  width: 100px;
  display: flex;
  border: 1px solid;
  font-size: 12px;
  color: #f0f0fe;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 2px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.centang:hover {
  background-color: #fff;
}

label {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 0px rgb(54, 84, 134, 1), 2px -2px 0 rgb(54, 84, 134, 1),
    -2px 2px 0 rgb(54, 84, 134, 1), -2px -2px 0 rgb(54, 84, 134, 1),
    2px 0px 0 rgb(54, 84, 134, 1), 0px 2px 0 rgb(54, 84, 134, 1),
    -2px 0px 0 rgb(54, 84, 134, 1), 0px -2px 0 rgb(54, 84, 134, 1);
  font-weight: 500;
  color: #fff;
}
#daftar-kegiatan {
  width: 500px;
  background-color: #dddeee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
  border: 1.5px solid #808080;
  border-radius: 10px;
}

.kegiatan-selesai {
  width: 500px;
  background-color: #dddeee;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ddeeff;
  border: 1.5px solid #808080;
  border-radius: 10px;
}

.trash {
  width: 30px;
}

.trash:hover {
  background-color: #fff;
}

.kegiatan {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
  display: flex;
  font-weight: 400;
  width: 500px;
  height: 30px;
  border: 2.5px solid #dde6ed;
  border-radius: 20px;
}

.waktu {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  width: 150px;
  height: 30px;
  border: 2.5px solid #dde6ed;
  border-radius: 20px;
  padding-right: 10px;
}

@media screen and (max-width: 480px) {
  main#container {
    margin-top: 3rem;
    max-width: 350px;
  }

  h1 {
    font-size: 23px;
  }

  .kegiatan {
    width: 160px;
    font-size: 10px;
    font-weight: 600;
  }

  .waktu {
    width: 88px;
    font-size: 8px;
    padding: 4px;
    font-weight: 600;
  }

  button {
    width: 40px;
    font-size: 13px;
  }

  button:active {
    background-color: #2d2d2d;
    color: #efefef;
    box-shadow: rgba(255, 255, 255, 0.85) 0px 5px 15px;
    transform: translateY(2px) translateX(0.5px);
  }

  label {
    font-size: 15px;
  }

  #daftar-kegiatan {
    width: 270px;
  }

  .listKegiatan {
    width: 100px;
    height: 35px;
    font-size: 10px;
    padding: 8px;
  }

  .waktuKegiatan {
    width: 50px;
    height: 35px;
    font-size: 8px;
    padding: 8px;
  }

  .kegiatan-selesai {
    width: 270px;
  }
}
